.detail-page {
    $darker-background:#171a21;
  .area {
    display: grid;
    grid-template-areas:
      "image image image description description description description creator creator"
      "image image image description description description description creator creator"
      "image image image information information information information payment payment";
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: auto;
    gap: 15px; /* Optional: Adjust spacing */
  }

  .area-part {
    border-radius: 7px;
    overflow: hidden;
    background-color: #222631;
    padding: 15px;
  }

  .image {
    grid-area: image;
    border-radius: 7px;
    overflow: hidden;
    max-width: 30em;
    align-content: center;
    display: block;
      margin: auto;
    img{
      
      width: 100%;
    }
    .aninda{
      background-color: green;
      top: 10px;
      left:10px;
      font-size: 13px;
    }
  }

  .description {
    grid-area: description;
    height: fit-content;
    #teslimat{
        background-color: $darker-background;
        padding: 4px;
        color: lightgreen;
        border-radius: 5px;
    }
  }

  .creator {
    grid-area: creator;
    gap:22px;
    .status{
        background-color: $darker-background;
        padding: 4px;
        @include center();
        border-radius: 5px;
    }
    .likes{
        border-radius: 5px;
        padding: 10px;
        font-size:11px;
        background-color: $darker-background;
    }
  }

  .information {
    grid-area: information;
    .box-headings{
      font-size: small;
    }
    .boxes-info{
        border-radius: 10px;
        background-color: $darker-background;
    }
}

  .payment {
    grid-area: payment;
    gap: 15px;
    padding: 18px;
    .price{
      .discount{
        margin-bottom: -8px;
        text-align: center;
        display: flex;
        justify-content:end;
        align-items: center;
        gap:4px;
        #disc_price{
          color: rgb(230, 23, 0);
          text-decoration: line-through;
          font-size: 15px;

        }
        #disc_percent{
          background-color: red;
          color: white;
          font-weight: 900;
          border-radius: 5px;
          font-size: 11px;
          width: fit-content;
          height: fit-content;
        }
      }
    }
    .amount{
      background-color: rgba(28, 32, 40, 0.248);
      width: 67%;
      .ingredients{
        background-color: $darker-background;
        width: 100%;
        border-radius: 3px;
        .decrease,.increase{
          background-color: #222631;
        }
      }
    }
    
  }
}
