.header {
  transform: translate(0%, -100%);
  animation: slide_top 1.3s forwards;
  animation-delay: 1s;
  .top-head {
    ul {
      font-family: Roboto, sans-serif;
      font-size: 11px;
      li:hover {
        cursor: pointer;
      }
    }
  }
  .mid-head {
    .brand {
      
      span {
        font-size: 70%;
        padding: 0;
        margin: 0;
      }
    }
    .account {
      
      button:hover {
        background: none;
      }
    }
  }
  .btn-info {
    background-color: #32a0dc;
  }
}
.search {
  
  .lupa {
    left: 9px;
    font-size: 19px;
  }
  input {
    background-color: #171a21;
    width: 100%;
    padding: 6px;

    border: none;
    border-radius: 7px;
    padding-left: 40px;
  }
  input::placeholder {
    font-size: 14px;
    color: rgb(177, 177, 177);
  }
  input:focus {
    outline: none;
    box-shadow: none;
  }
}
.scroll-nav-head-top{
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar{
    display: none;
  }

}

.nav-head-top {
  transform: translate(0%, -350%);
  animation: slide_top 1.3s forwards;
  animation-delay: 1s;
  margin: 0;
  padding: 0;
  gap: 3px;
  .nav-element {
    cursor: pointer;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    align-content: center;
    min-width: 100px;
    width: 200px;
    height: 50px;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
  
}
.nav-head-bot {
  animation: slide_left 2s linear;
  .nav-element {
    cursor: pointer;
    border-radius: 5%;
    @include center;
    width: 150px;
    height: 60px;
    margin-left: 10px;
    img {
      width: 80%;
      height: 60%;
      object-fit: contain;
    }
  }
  
}




.mid-head {
  display: grid;
  grid-template-areas: "logo logo logo search search search search account account account";
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: auto;
  
}
.grid-logo {
  grid-area: logo;
}
.grid-search {
  grid-area: search;
  padding-right: 20px;
}
.grid-account {
  grid-area: account;
}



@keyframes slide_top {
  0% {
    transform: translate(0%, -300%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes slide_left {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(0%);
  }
}