$darker-background:#171a21;

.prod-card{
    transition:  .15s;
    cursor: pointer;
    .details{
        display: none;
    }
    .background-details{
        background-color: rgba(47, 47, 47, 0.887);
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

.Lent{
    .alphabet-item{
        transition: all .3s;
        cursor: pointer;
        z-index: 100;
    }
    .alphabet-item:hover{
        transform: translate(0%,-10%) scale(1.3);
    }
}

.prod-card:hover{
    transform: translate(0%,-2%);
    .details{
        display: flex;
    }
}


.cart-page{
    .cart-row{
        display: grid;
        grid-template-areas: 
        "image content content"
        "image content content";
        grid-template-columns:15em 1fr 1fr ;
        grid-auto-rows: auto;
        gap:10px;
    }
    .image-grid{
        grid-area: image;
        
    }
    .content-grid{
        grid-area: content;
        
    }
    .final-grid{
        grid-area: final;
    }
    .amount{
        background-color: rgba(28, 32, 40, 0.9);
        width: 84%;
        .ingredients{
          background-color: $darker-background;
          width: 100%;
          border-radius: 3px;
          .decrease,.increase{
            background-color: #222631;
          }
        }
      }
}
.typing {
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden; /* Hide the overflow */
    border-right: 2px solid black;
    display: inline-block;
    animation: typing 4s steps(30) 1s forwards, blink 0.75s step-end infinite;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
    100% {
      border-color: black;
    }
  }