.prod-card{
    transition:  .15s;
    cursor: pointer;
    .details{
        display: none;
    }
    .background-details{
        background-color: rgba(47, 47, 47, 0.887);
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

.Lent{
    .alphabet-item{
        transition: all .3s;
        cursor: pointer;
        z-index: 100;
    }
    .alphabet-item:hover{
        transform: translate(0%,-10%) scale(1.3);
    }
}

.prod-card:hover{
    transform: translate(0%,-2%);
    .details{
        display: flex;
    }
}