.prod-card{
    transition:  .15s;
    cursor: pointer;
    .details{
        display: none;
    }
    .background-details{
        background-color: rgba(47, 47, 47, 0.887);
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

.prod-card:hover{
    transform: translate(0%,-2%);
    .details{
        display: flex;
    }
}