.User-Profile {
  .area {
    .Profile_input_fields {
      cursor: default;
      padding: 12px;
      font-size: 12px;
      font-weight: bold;
    }
    .accordion {
      border-radius: 10px !important ;
      overflow: hidden;
      background-color: rgb(33, 37, 41);
    }
    .accordion-button {
      background-color: transparent !important; 
      color: white !important; 
      border: none;
      font-weight: normal !important; 
    }
    .accordion-item{
      border: none;
    }
    .accordion-button:focus {
      box-shadow: none !important; 
      background-color: transparent !important; 
    }
    
    .accordion-button:not(.collapsed) {
      background-color: transparent !important;
    }
    
    .accordion-collapsed {
      border: none;
    }
    .accordion-body {
      color: #fff; 
      border: none;
      border-top: 1px solid rgb(98, 98, 98);
      input,
      .Privacy-button {
        border: none;
        background-color: #171a21;
      }
      .accordion-button {
        @include center;
        gap: 10px;
      }
      ::placeholder {
        color: rgb(184, 184, 184);
      }
      input {
        outline: none;
      }
    }
  }
}
