:root {
  --input-bg: #8383833f;
  --desc-color:rgb(231, 231, 231);
}
[data-bs-theme="dark"] {
  --input-bg: #171a21;
  --desc-color:#121318;
}

input{
  background-color: var(--input-bg) !important;
}
.User-Profile {
  .login-btn-active {
    background-color: #32a0db !important;
  }
  .login-btn-active:hover {
    background: none !important;
    border: 1px solid #32a0db;
    color: #32a0db !important;
  }
  .area {
    .Profile_input_fields {
      cursor: default;
      padding: 12px;
      font-size: 12px;
      font-weight: bold;
      padding-inline-end: 50px;
    }

    .Ilan-ekle-profile {
      width: 100%;
      .list_of_inputs {
        justify-content: center;
        align-items: center;
        .list-of-inputs-elements {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          input,
          textarea {
            padding: 12px;
            font-size: 12px;
            font-weight: bold;
            background-color: var(--input-bg);
            outline: none;
            border: none;
            border-radius: 10px;
          }
          textarea {
            width: 70%;
            max-height: 10em;
          }
        }
      }
    }

    .siparis-accordion-item {
      overflow: hidden;

      .check-icon {
        background-color: green;
        width: 30px;
        min-width: 30px;
        height: 30px;
        border-radius: 3px;
        font-weight: bolder;
        @include center();
        font-size: smaller;
        .check-icon-itself {
          padding: 3px;
          font-size: 21px;
          border-radius: 100%;
          border: 1px solid white;
        }
      }

      .siparisler-accordion-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
      }
    }

    
    .accordion-body {
      border: none;
      border-top: 1px solid rgb(98, 98, 98);
      input,
      .Privacy-button {
        border: none;
        background-color: var(--input-bg);
      }
      .accordion-button {
        @include center;
        gap: 10px;
      }
      ::placeholder {
        color: rgb(184, 184, 184);
      }
      input {
        outline: none;
      }
      .description-order{
        background-color: var(--desc-color);
      }
    }
  }
}
.modal-open {
  justify-content: center;
  align-items: center;
  .list-of-inputs-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    input,
    textarea {
      padding: 12px;
      font-size: 12px;
      font-weight: bold;
      background-color: var(--input-bg);
      outline: none;
      border: none;
      border-radius: 10px;
    }
    textarea {
      width: 70%;
      min-height: 7em;
      max-height: 14em;
    }
  }
}

.accordion {
  border-radius: 10px !important ;
  overflow: hidden;
  background: none;
}
.accordion-button {
  background-color: transparent !important;
  border: none;
  font-weight: normal !important;
}
.accordion-item {
  border: none;
  border-radius: 10px;
}
.accordion-button:focus {
  box-shadow: none !important;
  background-color: transparent !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
}

.accordion-collapsed {
  border: none;
}