@import "mixin";
@import "header";
@import "footer";
@import "products";
@import "LoginSign";
@import "home";
@import "detailPage";
@import "Profile";
@import "Responsiveness";
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--main-back);
  scroll-behavior: smooth;
}
:root {
  --custom-bg: #bfc1ca; // Light mode default
  --custom-dark-bg: #eeeeee;
  --custom-text: rgb(49, 49, 49);
  --main-back: #d6d6d6;
  --blend-mode: multiply;
  --custom-placeholder-text: rgb(110, 110, 110) !important;
  --custom-opacity: 0;
  --custom-dark-light:rgb(181, 181, 181);
}

[data-bs-theme="dark"] {
  --custom-bg: #212630 !important; // Dark mode background
  --custom-dark-bg: #0e1219 !important;
  --custom-text: white !important;
  --custom-placeholder-text: rgb(137, 137, 137) !important;
  --main-back: #161820 !important;
  --blend-mode: none;
  --custom-opacity: 1;
  --custom-dark-light:#1b1d22;
}
input::placeholder{
  color: var(--custom-placeholder-text) !important;
}
.bg-custom {
  background-color: var(--custom-bg) !important;
  color: var(--custom-text);
}
.bg-dark-custom {
  background-color: var(--custom-dark-bg) !important;
}
.bg-light-dark{
  background-color: var(--custom-dark-light);
}
.text-custom {
  color: var(--custom-text) !important;
}
.main-back {
  background-color: var(--main-back);
}

.nav-element {
  background-color: var(--custom-bg) !important;
  img {
    filter: brightness(var(--custom-opacity));
  }
  color: var(--custom-text);
}
.nav-element:hover {
  background-color: var(--custom-text);
  img {
    @if (var(--custom-opacity + 1)) {
      filter: brightness(var(--custom-opacity + 1));
    }
  }
}
a {
  text-decoration: none;
  color: var(--custom-text);
}

.container-fluid {
  width: 100%;
  max-width: 93em;
}

hr {
  border: 2px solid #0d0e10;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 11px;
  height: 12px;
}

.Lent{
  ::-webkit-scrollbar{
    display: none;
  }
}

::-webkit-scrollbar-track {
  background-color: #1d212a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #4d4d4d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0;
}

.destek-canli {
  width: 31em;
  align-content: end;
  .canli-buton {
    display: flex;
  }
  .platform-destek {
    width: 100%;
    height: 33em;
    display: none;
  }
  .message-input:focus {
    outline: 0;
  }
  .message-input::placeholder {
    color: rgb(205, 205, 205);
  }
}

.destek-canli-opened {
  .canli-buton {
    display: none !important;
  }
  .platform-destek {
    display: block !important;
  }
}

.turqoise-blue {
  background-color: #32a0db;
}

.path {
  margin-top: 10px;
  span {
    background-color: #1f2a2d;
    color: white;
    padding: 6px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    border-radius: 5px;
    align-content: center;
    text-align: center;
    cursor: pointer;
  }
  .active-path {
    background-color: white !important;
    color: black !important;
  }
}

.hovering-behaviour {
  transition: 0.3s;
}
.hovering-behaviour:hover {
  cursor: pointer;
  transform: translateY(-3%);
}

.progress {
  .progress-bar {
    background: rgb(255, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 252, 0, 1) 50%,
      rgba(35, 255, 0, 1) 100%
    );
  }
}

.profile-section-element-active,
.profile-section-element:hover {
  background-color: white !important;
  color: black !important;
}
.swiper-slide img {
  width: 100%;
  height: fit-content; /* Maintain aspect ratio */
  max-height: 80vh; /* Prevent huge images */
  object-fit: contain;
}

.cur-pointer {
  cursor: pointer !important;
}


.pagination{
  gap:10px;
  .page-item.active .page-link{
    background-color: #0c88a1;
    font-weight: bold;
  }
  .page-item,.page-link{
    border-radius: 100%;
    overflow: hidden; 
    border: none;
    width: 35px;
    align-content: center;
    text-align: center;
  }
}